<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if title %}{{ title }} | {% endif %}EDGI Federal Environmental Web Tracker</title>
    {# <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open Sans:400,400i,700,700i&display=swap"> #}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Open+Sans+Condensed:300,700|Source+Sans+Pro:300,400,400i,600&display=swap">
    {# <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Open+Sans+Condensed:300,700&display=swap"> #}
    <link rel="stylesheet" href="/static/site.css">
  </head>
  <body>

    <header id="site-header">
      <img src="/static/edgi-square-charcoal.svg" alt="Environmental Data &amp; Governance Initiative" class="logo" height="16">
      <h1>
        Federal Environmental Web Tracker
      </h1>
      <nav>
        <ol>
          {% for page in nav %}
            <li><a href="{{ page.path }}" class="{% if page.path == currentPage.path %}nav-active{% endif %}">{{ page.navTitle or page.title }}</a></li>
          {% endfor %}
        </ol>
      </nav>
    </header>

    <main>
      {% block main %}{{ main_html | safe }}{% endblock %}
    </main>

    <script type="module" src="/static/site.js"></script>
  </body>
</html>
