{% extends "base.html" %}

{% block main %}
  <section>
    {% include "intro-text.html" %}
  </section>

  <div class="tracker-data-view table-container">
    {% include "filter-form.html" %}

    <table>
      <thead>
        <tr>
          <th>Time Range</th>
          <th>Agency</th>
          <th>Page Title</th>
          <th>URL</th>
          <th>Access Change?</th>
          <th>Substance Change?</th>
          <th>Description</th>
          <th>Topics</th>
          <th>View</th>
        </tr>
      </thead>
      <tbody>
        {% for row in trackerData %}
          <tr class="tracker-row">
            <td class="cell-time" title="Changed between {{ row.humanTimeRange[0] }} and {{ row.humanTimeRange[1] }}">
              {{ row.dateRange[0] }}
              {% if row.dateRange[0] != row.dateRange[1] %}
                <span class="separator">–</span>
                {{ row.dateRange[1] }}
              {% endif %}
            </td>
            <td class="cell-agency">{{ row.agency }}</td>
            <td class="cell-title">{{ row.title }}</td>
            <td class="cell-url"><a href="{{ row.url | safe }}">{{ row.humanUrl }}</a></td>
            <td class="cell-access-change">
              {% if row.accessChange %}<span data-change-type="access">✔︎</span>{% endif %}
            </td>
            <td class="cell-substance-change">
              {% if row.substanceChange %}<span data-change-type="substance">✔︎</span>{% endif %}
            </td>
            <td class="cell-description">{{ row.description }}</td>
            <td class="cell-topics">
              <ul>
              {% for topic in row.topics %}
                <li class="topic-name topic--{{ topic.code }}">{{ topic.name | nobreak }}</li>
              {% endfor %}
              </ul>
            </td>
            <td class="cell-links">
              <ul>
                <li><a href="{{ row.links.htmlA }}">HTML before</a></li>
                <li><a href="{{ row.links.htmlA }}">HTML after</a></li>
                {% if row.links.iaComparison %}
                  <li><a href="{{ row.links.iaComparison }}">Changes in Internet Archive</a></li>
                {% endif %}
                <li><a href="{{ row.links.iaTimeline }}">Timeline in Internet Archive</a></li>
              </ul>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
