<p>
  EDGI’s <a href="https://envirodatagov.org/website-governance/monitoring-team/">website monitoring team</a>
  is monitoring thousands of federal government webpages to track changes
  under the Trump administration. The Federal Environmental Web Tracker
  makes these changes publicly available and searchable. Specifically,
  the Tracker is a collection of documented changes to environment-related
  federal webpages that EDGI’s team deems noteworthy. It will be
  updated weekly.
</p>

<p>
  EDGI’s <a href="https://envirodatagov.org/website-governance/blogs">blogs</a>
  and <a href="https://envirodatagov.org/website-governance/reports/">reports</a>
  analyze changes documented in this dataset.
</p>
