
:root {
  --white: #ffffff;
  --beige-1: #092439;
  --beige-2: #EEEBE6;
  --beige-3: #E2E0DC;
  --beige-4: #747270;

  --edgi-blue: #092439;
  --blue: #19649F;
  --terracotta: #B85A50;
  --mustard: #C99A3E;
  --olive: #7A8450;
  --plum: #7A5C7D;
  --teal: #54CDBC;
  --light-teal: #54CDBC;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  font-family: 'Mono Sans', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
